
@{
    ViewData["Title"] = "Recherche";
}

<h1>Recherche</h1>
<div id="content" class="w-75 h-100" style="margin: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Charge Horaire</th>
                <th scope="col">Programme</th>
                <th scope="col">Niveau</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Android</td>
                <td>Otto</td>
                <td>2H</td>
                <td>Download</td>
                <td>Debutant</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Android</td>
                <td>Otto</td>
                <td>2H</td>
                <td>Download</td>
                <td>Debutant</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Android</td>
                <td>Otto</td>
                <td>2H</td>
                <td>Download</td>
                <td>Debutant</td>
            </tr>
        </tbody>
    </table>
</div>

